.carte{
    display: flex;
    justify-content: center;
    margin-top: -85%;
}

.cartePosition{
    background: #e08815;;
    box-shadow: 0 0 20px 0 rgb(0 0 0 / 35%);
    padding: 5%;
}

h1{
    display: flex;
    justify-content: center;
    font-size: 5rem;
    padding-bottom: 10%;
}

#el{
    width: 100%;
}