
.cartesPosition{
    display: flex;
    justify-content: center;
    margin-top: 10%;
}

.cartesPositionBis{
    display: flex;
    flex-direction: row;
    background: white;
    box-shadow: 0 0 20px 0 rgb(0 0 0 / 35%);
    width: 60em;
    align-items: center;
}

.carte_title{
    display: flex;
    flex-direction: column;
    padding: 0em 1em 0em;
    font-family: 'Times New Roman', Times, serif;
    font-size: 5em;
}

#carte_title_color{
    color: #D68D00;
}

.carte_text{
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    text-align: justify;
    width: 90%;
}

#formCartes{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    padding: 5em;
}

#forCartes, #nom{
    font-size: 13px;
    background: #b9844038;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 1em;
    border: none;
    height: 72px;
    width: 24em;
}

#formCartes label{
    border-bottom: 1px solid #e08815;
    font-family: 'Signika';
    text-transform: uppercase;
}

/*bouton ajouter*/
#add-carte{
    font-size: 16px;
    background-color: #000000;
    border-radius: 5px;
    color: white;
    box-shadow: 0 0 20px 0 rgb(0 0 0 / 35%);
    font-family: 'Signika';
    cursor: pointer;
    padding: 10px;
} 

#add-carte:hover, #add-carte:active{
    border: none;
    background-color: #ce610f;
    background-position: 0 0;
}

#add-carte:active{
    opacity: .5;
}

/*bouton modifier*/
#modif{
    font-size: 16px;
    background-color: #000000;
    border-radius: 5px;
    color: white;
    box-shadow: 0 0 20px 0 rgb(0 0 0 / 35%);
    font-family: 'Signika';
    cursor: pointer;
    padding: 10px;
} 

#modif:hover, #modif:active{
    border: none;
    background-color: #ce610f;
    background-position: 0 0;
}

#modif:active{
    opacity: .5;
}

/*bouton supprimer*/
#supp{
    font-size: 16px;
    background-color: #000000;
    border-radius: 5px;
    color: white;
    box-shadow: 0 0 20px 0 rgb(0 0 0 / 35%);
    font-family: 'Signika';
    cursor: pointer;
    padding: 10px;
} 

#supp:hover, #supp:active{
    border: none;
    background-color: #ce610f;
    background-position: 0 0;
}

#supp:active{
    opacity: .5;
}

.affichage-cartes{
    display:flex;
    justify-content: center;
}

.affichage-cartes-bis{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background: white;
    box-shadow: 0 0 20px 0 rgb(0 0 0 / 35%);
    width: 20em;
    margin-top: 2em;
    padding: 3em;
}