
.connexion_position{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 6em;
}

.connexionPositionBis{
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  box-shadow: 0 0 20px 0 rgb(0 0 0 / 35%);
  padding-bottom: 5em;
}

.connexion_title{
  display: flex;
  padding: 2em 1em 1em;
  font-family: 'Times New Roman', Times, serif;
  font-size: 3em;
  justify-content: space-around;
}

#imageLogin{
  width: 35em;
}

/*Partie formulaire à droite*/

.login {
  padding: 20px;
}

#formConnexion {
  margin: 0;
  display: grid;
  gap: 5%;
}

.connexion {
  position: relative;
  margin-bottom: 16px;
}

.connexion span { /*l'icone*/
  position: absolute;
  top: 50%;
  translate: 0 -50%;
  left: 0;
  font-size: 22px;
  pointer-events: none;
  color: rgba(178, 19, 19, 0.4);
}

.connexion input {
  border: none;
  border-bottom: 2px solid #e08815;
  padding: 0 24px 0 36px;
  height: 2em;
}

#submitLog{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 24px;
  border: none;
  border-radius: 6px;
  background: #b0632b;
  padding: 10px;
  border-radius: 5px;
  color: white;
  box-shadow: 0 0 20px 0 rgb(0 0 0 / 35%);
  font-family: 'Signika';
  font-size: 16px;
  cursor: pointer;
}

#submitLog:hover, #submitLog:active{
  background-color: #000000;
  background-position: 0 0;
}

.login p {
  color: #242424;
  font-family: Arial, Helvetica, sans-serif;
}

.login p > a {
  color: #e79121;
  text-decoration: none;
}

@media screen and (min-width: 350px) and (max-width: 900px) {
  .connexionPositionBis{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: none;
    box-shadow: none;
    margin-top: 10%;
  }

  .imageLogin{
    display: none;
  }

}