
.creation_title{
    display: flex;
    flex-direction: column;
    padding: 0em 1em 0em;
    font-family: 'Times New Roman', Times, serif;
    font-size: 5em;
}

#creation_title_color{
    color: #D68D00;
}

.restaurant_position{
    display: flex;
    justify-content: center;
    margin-top: 10%;
}

.restaurantPositionBis{
    display: flex;
    flex-direction: row;
    align-items: center;
    background: white;
    box-shadow: 0 0 20px 0 rgb(0 0 0 / 35%);
}

.restoDiv{
    /* display: flex;
    gap: 8px;
    flex-direction: column;
    justify-content: center; */
    width: 25em;
    padding: 3em;
}

.restaurant_text{
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    text-align: justify;
    width: 20em;
}


#formRestaurant{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

#formRestaurant label{
    border-bottom: 2px solid #e08815;
    font-family: 'Signika';
    text-transform: uppercase;
}

form .restaurant input{
    font-size: 13px;
    background: #b9844038;
    /* box-shadow: 0 0 20px 0 rgb(0 0 0 / 6%); */
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 1em;
    border: none;
    height: 72px;
    width: 24em;
}

.restaurant{
    display: flex;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    /* height: 25%; */
    flex-direction: column;
}

#submitRestaurant{
    border: none;
    margin-top: 1em;
    width: 80%;
    background-color: #000000;
    padding: 10px;
    border-radius: 5px;
    color: white;
    box-shadow: 0 0 20px 0 rgb(0 0 0 / 35%);
    font-family: 'Signika';
    cursor: pointer;
}

#submitRestaurant:hover, #submitRestaurant:active{
    background-color: #ce610f;
    background-position: 0 0;
}


@media screen and (min-width: 350px) and (max-width: 800px) {
    .restaurantPositionBis{
        display: flex;
        flex-direction: column;
        align-items: center;
        background: none;
        box-shadow: none;
        margin-top: 10%;
    }

    #formRestaurant{
        align-items: center;
    }

    .restaurant_text .home_title{
        font-size: 4em;
    }

    .restaurant_position .formRestaurant{
        justify-content: center;
        padding: 1em 6em 1em;
        margin-bottom: 4em;
    }
}