/* PAGE HOME CSS*/
* {
    margin:0;
    padding:0;
}

body{
    background: #fbfbfbf2;
}

.img-transition{
    height: 700px;
    width: 1903px;
}

#ban{
    margin-top: -45rem;
    height: 53em;
}

.home_position{
    display: flex;
    padding: 4em 0em 7em;
    justify-content: center;
}

.home_title{
    display: flex;
    flex-direction: column;
    padding: 2em 1em 1em;
    font-family: 'Times New Roman', Times, serif;
    font-size: 5em;
}

#home_title_color{
    color: #D68D00;
}

.home_text{
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    text-align: justify;
    width: 38rem;
}


/*staff*/
body:before{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background: #db6d13;
    clip-path: inset(47% 0 0 0);
    z-index: -1;
    margin-top: 100%;
}

.title-content{    
    display: flex;
    padding: 1em 0em 1em;
    font-family: 'Times New Roman', Times, serif;
    font-size: 3em;
    justify-content: center;
}


.contenu{
    display: flex;
    justify-content: center;
    overflow: hidden;
    padding: 2em 0em 2em;
}

.main-card{
    display: flex;
    align-content: space-between;
    transition: 1s;
    gap: 1em;
}

#two:checked ~ .main-card{
    margin-left: -100%;
}

.container .main-card .cards{
    width: calc(100% / 2 - 10px);
    display: flex;
    flex-wrap: wrap;
    margin: 0 20px;
    justify-content: space-between;
}

.main-card .cards .card{
    background: #fff;
    border-radius: 12px;
    padding: 30px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
    transition: all 0.4s ease;
}

.main-card .cards .card:hover{
    transform: translateY(-15px);
}

.content{
    display: flex;
    flex-direction: column;
}

.cards .card .content{
    display: flex;
    align-items: center;
    width: 100%;
}

.content-img{
    height: 130px;
    width: 130px;
    border-radius: 50%;
    padding: 3px;
    background: #D68D00;
    margin-bottom: 14px;
}

.content-img img{
    height: 100%;
    width: 100%;
    border: 3px solid #ffff;
    border-radius: 50%;
    object-fit: cover;
}

.name-cards{
    font-size: 20px;
    font-weight: 500;
}

.name-jobs{
    font-size: 20px;
    color: #D68D00;
}

.media-icons{
    margin-top: 10px;
    display: flex;
}

.media-icons a{
    text-align: center;
    line-height: 33px;
    height: 35px;
    width: 35px;
    margin: 0 4px;
    font-size: 14px;
    color: #FFF;
    border-radius: 50%;
    border: 2px solid transparent;
    background: #db6d13;
    transition: all 0.3s ease;
}

.media-icons a:hover{
    color: #db6d13;
    background-color: #fff;
    border-color: #db6d13;
}

@media (max-width: 768px) {
    .main-card .cards .card{
      margin: 20px 0 10px 0;
      width: calc(100% / 2 - 10px);
    }
}
@media (max-width: 600px) {
    .main-card .cards .card{
      width: 100%;
    }
}
@media screen and (min-width: 100px) and (max-width: 600px) {

    #imghome{
        padding-top: 5em;
        height: 22em;
    }

    .home_position {
        display: flex;
        flex-direction: column;
    }
}
@media screen and (max-width: 500px) {
    #imghome{
        height: 30em;
    }
}

.under-home-title{
    display: flex;
    flex-direction: row;
    padding: 1em 0em 2em;
    font-family: 'Times New Roman', Times, serif;
    font-size: 4em;
    justify-content: center;
    gap: 1em;
}

#under-title-color{
    color: #ffffff;
}

.avocat_position{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    padding: 2em 0em 2em;
}


#avocat{
    height: 57em;
}