
.register_position{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5em;
    flex-direction: row-reverse;
}

.registerPositionBis{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
    box-shadow: 0 0 20px 0 rgb(0 0 0 / 35%);
    padding-bottom: 5em;
}

.register_title{
    display: flex;
    padding: 1em 1em 1em;
    font-family: 'Times New Roman', Times, serif;
    font-size: 3em;
    justify-content: space-around;
}

#register_form{
    display: grid;
    gap: 9px;
}

.textRegister{
    position: relative;
  margin-bottom: 16px;
}

.textRegister span { /*l'icone*/
  position: absolute;
  top: 50%;
  translate: 0 -50%;
  left: 0;
  font-size: 22px;
  pointer-events: none;
  color: rgba(178, 19, 19, 0.4);
}

.textRegister input{
  border: none;
  border-bottom: 2px solid #e08815;
  padding: 0 24px 0 36px;
  height: 72px;
}

.textRegister label{
  position: absolute;
  top: 50%;
  left: 36px;
  translate: 0 -50%;
  transition: 0.4s;
  font-family: Arial, Helvetica, sans-serif;
}

#submitRegister{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 24px;
    border: none;
    border-radius: 6px;
    background: #b0632b;
    padding: 10px;
    border-radius: 5px;
    color: white;
    box-shadow: 0 0 20px 0 rgb(0 0 0 / 35%);
    font-family: 'Signika';
    font-size: 16px;
    cursor: pointer;
}

#submitRegister:hover, #submitRegister:active{
  background-color: #000000;
  background-position: 0 0;
}

.register p {
    color: #242424;
    font-family: Arial, Helvetica, sans-serif;
}
  
.register p > a {
    color: #e79121;
    text-decoration: none;
}