.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    background-color: #ffffff24;
    width: 38em;
    margin-top: 3em;
    margin-bottom: 2em;
    padding-bottom: 5em;
    padding-top: 4em;
    gap: 1.5em;
    color:white;
    margin-left: auto;
    margin-right: auto;
}

#inputProfilStyle{
    padding: 1em;
    border: none;
    border-bottom: 2px solid rgb(225 225 225 / 52%);
    background: grey;
    font-size: 20px;
    color: black;
    width: 400px;
}

#inputProfilStyle2{
    padding: 1em;
    border: none;
    border-bottom: 2px solid rgb(225 225 225 / 52%);
    background: grey;
    font-size: 20px;
    color: black;
    width: 400px;
}


#inputProfilText{
    text-transform: uppercase;
    color: black;
}

#inputProfilText2{
    text-transform: uppercase;
    color: black;
}

#buttonProfil{
    font-family: 'Abel';
    text-transform: uppercase;
    color: #efefef;
    font-size: 20px;
    letter-spacing: 3px;
    background: #16172466;
    padding: 1.5rem 5rem;
    border-radius: 1.3rem;
    border: none;
    cursor: pointer;
    margin-top: 2em;
    width: 400px;
    margin-left: 550px;
}
