
.product_title{
    display: flex;
    flex-direction: column;
    padding: 0em 1em 0em;
    font-family: 'Times New Roman', Times, serif;
    font-size: 5em;
}

.product_position{
    display: flex;
    margin-top: 5em;
    justify-content: center;
}

.productPositionBis{
    display: flex;
    flex-direction: row;
    align-items: center;
    background: white;
    box-shadow: 0 0 20px 0 rgb(0 0 0 / 35%);
}

.produits{
    width: 25em;
    margin-top: 4em;
}

#formProduits form{
    padding: 3em;
}

#formProduits label{
    padding: 0 24px 0 36px;
    border-bottom: 2px solid #e08815;
    height: 72px;
}

#form_position label{
    font-family: Arial, Helvetica, sans-serif
}

#ajoutProduct{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d68d00;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
} 

